/* PILL */
.pills {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.pill {
  display: inline-block;
  padding: 5px 10px;
  background-color: #0d79a7;
  color: white;
  border-radius: 20px;
  padding: 4px 8px;
  cursor: pointer;
  min-width: 80px;
  text-align: center;
}
